.cabecalho{
    background-color: #F93A21;
    color: white;
    display: flex;
    justify-content: space-around;
    }

    .cabeçalho-imagem{
        width: 20%;
    }
    .inicio-imagem{
        width: 25%;
    }
    .inicio{
        background-image: linear-gradient(#f36a58,#F25541);
        color: white;
        display: flex;
    }
    .inicio-div-conteudo{
        width: 35%;
    }
    .inicio-titulo{
        padding: 24px 0;
    }
        
    
    
